<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/styles-dashboard.css" />
  <title>
    <%= pageTitle %> | <%= user?.first_name %>
  </title>
</head>

<body>
  <div class="main--container">
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <aside class="default-text">
        <nav class="aside-nav">
          <ul>
            <li>category</li>
            <li>category</li>
            <li>category</li>
            <li>category</li>
            <li>category</li>
            <li>category</li>
          </ul>
        </nav>
      </aside>
      <section class="dashboard default-text">
        <div class="container dashboard--container">
          <% todo.forEach(td=> { %>
          <% 
          const date=new Date(td.todo_created); 
          const month=String(date.getMonth() +1).padStart(2,"0"); 
          const day=String(date.getDay()).padStart(2,"0"); 
          const year=String(date.getYear()).slice(-2);
          const formattedDate=`${month}/${day}/${year}` 
          const slice = td.description.slice(0, 17)
          const formatDesc = slice.padEnd(20, ".")
          
          %>
          <div class="todo--container">
            <div class="todo-description">
              <% if(td.description.length > 17) { %>
              <h4>
                <%= formatDesc %>
              </h4>
              <% } else { %>
              <h4>
                <%= td.description %>
              </h4>
              <% }%>

            </div>
            <div class="todo-footer">
              <div class="todo-category">
                <p>
                  <%= td.category %>
                </p>
              </div>
              <div class="todo-date">
                <p>
                  <%= formattedDate %>
                </p>
              </div>
            </div>
          </div>
          <% }) %>

      </section>
    </main>
</body>

</html>